<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <div>
        <ol>
            {% for emp in emps %}
                <li>{{emp.name}}</li>
                <ul>
                    {% for task in emp.tasks.all %}
                        <li>{{task}}</li>
                    {% endfor %}
                </ul> 
            {% endfor %}
        </ol>
    </div>
    
</body>
</html> 