{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static "CSS/output.css" %}" />
</head>
<body>
    <div class="w-1/2 mx-auto mt-8">
        <div>
            {% if messages %}
                {% for msg in  messages %}
                    <div class="px-2 py-1 {% if 'success' in msg.tags %} bg-green-500{% endif %}">
                        <p>{{msg}}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <form method= "POST">
            <input type="text" class=" " />
            {% csrf_token %}
            {{task_form.as_p}}
            {{task_detail_form.as_p}}
            <button type="submit" class="p-2 bg-cyan-500 text-yellow-800">submit</button>
        </form>
    </div>
</body>
</html>