{% extends "base.html" %}

{% block sign_in_content %}

<section class="w-1/2 mx-auto">
    <h1 class="my-5 text-2xl font-semibold text-center" >Reset Password</h1>
    <div>
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {% comment %} <input type="text" placeholder= "Enter username" name='username'/>
            <input type="password" placeholder= "Enter Password" name='password'/> {% endcomment %}

            {{form.as_p}}
            <button type = "submit" class="bg-blue-600 py-1 px-2 mx-auto text-center w-full my-3 rounded focus:bg-green-600 mb-20 text-white" >Reset Password</button>
        </form>
    </div>
</section>

{% endblock sign_in_content %}

